{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <!-- product image slider -->
        <div class="product-image-slider">
          <div data-image="{{ .Params.image }}">
            <img class="img-fluid w-100" src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1 class="mb-4">{{ .Title | markdownify }}</h1>
        {{ if .Params.brand }}<p><strong>Brand: </strong>{{ .Params.brand }}</p>{{ end }}
        {{ if .Params.color }}<p><strong>Color: </strong>{{ .Params.color }}</p>{{ end }}
        {{ if .Params.size }}<p><strong>Size: </strong>{{ .Params.size }}</p>{{ end }}
        <p class="price py-4">
          {{if ne .Params.finalprice .Params.price}}
            {{.Params.finalprice}} {{ .Params.currency }}
            <s class="price">{{ .Params.price }} {{ .Params.currency }}</s>
          {{else}}
            {{.Params.price}} {{ .Params.currency }}
          {{end}}
        </p>
        <a class="btn btn-main mb-5" href="{{ .Params.af_url }}" target="_blank">{{i18n "buy"}}</a>
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ end }}
